/**
 * Stylesheet for Panopoly Profile
 */

#panopoly-theme-selection-form .form-item-theme {
  clear: both;
  margin-top: .5em;
  margin-bottom: .5em;
}

#panopoly-theme-selection-form .form-item-theme label img {
  float: left;
  width: 100px;
  margin-right: 1em;
}

#panopoly-apps-check #edit-pantheon img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

body.maintenance-page #logo {
  background: transparent url(../images/adapted.gif) no-repeat 50% 50%;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  padding-top: 0;
  width: 256px;
  margin: 10px auto;
  display: block;
  text-align: center;
  float: none;
}

.navbar .navbar-inner {
  border: 2px solid #001F2E;
  background-color: #001ac4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001ac4), to(#040070));
  background-image: -webkit-linear-gradient(top, #001ac4, #040070);
  background-image:    -moz-linear-gradient(top, #001ac4, #040070);
  background-image:      -o-linear-gradient(top, #001ac4, #040070);
  background-image:         linear-gradient(to bottom, #001ac4, #040070);
}
